*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    max-width: 1440px;
    margin:auto;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #9FABB2;
}

h1,h2,h3,h4,h5,h6{
    color:#000000;
}

header{
    background-image: url(images/bg-header-desktop.png), linear-gradient(0deg, rgba(255,255,255,0.5324511201839882) 21%, rgba(159,171,178,0.8125814133435973) 100%);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 6em 0;
}

.history{
    text-align: center;
    font-size: 1.3em;    
}

.button-ios{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2em;
}
.button-mac{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2em;
}

.button-download2{
    margin-left: 30em;    
}

.keep-container{
    text-align: center;    
    font-size: 1.7em; 
}


.keep-p{
    text-align: center;
}

.img-computer{
    float: left;
}

.feature{
    text-align:center;    
    padding-left: 40em;
    margin:1em;
}

.access-container{
    text-align:center;    
}

.img-devices{
    margin-left:15em;    
}


.access-title{
    text-align:center;    
}

.access-text{
    text-align:center;    
}

.tools{
    text-align: center;
    padding: 1em 0 3em;
}

.tools h3{
    font-size: 2.2rem;
}

.tools>p{
    margin: 1.2em auto 3.8em;
}

.tools .container{
    display: flex;
    justify-content: space-between;
}

.tool{
    flex: 0 0 32%;
}

.tool h5{
    font-size: 1.5rem;
    margin: 1.5em 0 .5em;
}

.tool p{
    line-height: 1.7em;
}

.brands{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}

.brands .brand img{
    width: 90%;
    margin: auto;
}

.download-ios{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2em;
}

.download-mac{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2em;
}


.install .small-container{
    padding: 3em 0 9em;
}

.clipboard h3{
    font-size: 2.4rem;
    text-align: center;
}
.clipboard p{
    margin: 1em auto 2em;
    line-height: 1.4em;
    text-align: center;
}

footer{
    background-color: #F5F6F8;
    padding: 2.7em 0;
}
footer .container{
    display: flex;
    align-items: center;
}
.footer-logo{
    flex: 0 0 18%;
}
.social-icons{
    flex : 0 0 14%;
}
.footer-logo img{
    width: 60px;
}
.footer-menu{
    flex:1;
    display: flex;
}

.f-menu{
    width: 25%;
}
.f-menu a{
    display: block;
    line-height: 2em;
    text-decoration: none;
    color: #000;
}

.social-icons a{
    display: block;
    float: right;
    width:33.33%;
    text-align: right;
}

.social-icons i:hover{
    color: hsl(171, 66%, 44%);
}

.f-menu a:hover{
    color:hsl(171, 66%, 44%);
}

.attribution{
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
    font-size: 12px;
}

